/* Body */

@media screen and (min-width:1300px){
    .estilo {
        width:auto;
    }
}

/* Desktop & desktop item*/

.desktop {
    display: none;
}


@media screen and (min-width:1300px){
    .desktop {
        align-items: center;
        color: white;
        display: flex;
        flex-direction: row;
        font-size: 2rem;  
        justify-content: center; 
       
    }
}


@media screen and (min-width:1300px){
    .desktop__item {
        margin: 5px 10px 0 10px;
        text-align: center;
       
    }
}





/* Cabecalho Imagens */

@media screen and (min-width:1300px){
    .cabecalho__img01 {
        width:20%;
    }
}


@media screen and (min-width:1300px){
    .cabecalho__img02 {
        bottom: 310px;
        left: 83%;
        margin: 0;
        position: relative;
        width:230px;

    }
}


/* Titulo */

@media screen and (min-width:1300px){
    .titulo {
        bottom: 175px;
        position: relative
        
    }
}

@media screen and (min-width:1300px){
    .titulo__item {
        font-size: 5rem;
        
    }
}


/* Conteudo */

@media screen and (min-width:1300px){
    .conteudo__img {
        position: relative;
        bottom: 350px;
        right: 450px;
        
    }
}


/* lista */




@media screen and (min-width:1300px){
    .lista {
        bottom: 395px;
        margin: auto;
        position: relative;
        width: 90%;
        margin: 50px;
    }
}

    /* lista responsiva  */

.desktop__lista {
    display: none;
}






@media screen and (min-width:1300px){
    .desktop__lista {
        align-items: center;
        box-shadow: 15px 15px 10px 10px violet;
        border: 1px solid black;
        border-radius: 20px;
        bottom: 300px;
        display: flex;
        flex-direction: column;
        left: 50px;
        margin-top: 50px;
        position: relative;
        bottom: 395px;
        width: 90%;
    }
}



@media screen and (min-width:1300px){
    .desktop__subtitulo {
        color: white;
        font-family: fantasy;
        font-weight: 700;
        font-size: 19px;
        letter-spacing: 0.02em;
        padding: 1rem;
        text-align: center;
    }
}




@media screen and (min-width:1300px){
    .desktop__descritivo {
        font-family: fantasy;
        font-style: italic;
        font-weight: 300;
        font-size: 17px;
        line-height: 150%;
        text-align: center;
    }
}


 /* botao */


 @media screen and (min-width:1300px){
    .botao__item {
       position: relative;
       bottom: 105px;
    }
}


@media screen and (min-width:1300px){
    .botao__preco {
       font-size: 1.4rem;
       position: relative;
       bottom: 100px;
    }
}



/* rodape */

@media screen and (min-width:1300px){
    .desktop__rodape {
       display: none;
    }
}


@media screen and (min-width:1300px){
    .rodape__faleconosco {
       margin-top: 70px;
    }
}




@media screen and (min-width:1300px){
    .rodape__formulario {
       
    }
}


