
.botao__item {
    background-color: green;
    color: white;
    border: 2px  ridge black;
    border-radius: 20px;
    font-family: fantasy;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    width: 30%;

    

}

#comprar {
    display: none;
}
