.botao__item:hover {
    background-color: wheat;
        color: black;
       font-size: 1.2rem;
       transition: .10s;
       
}


.botao__preco:hover {
        color: black;
       font-size: 1.2rem;
       transition: .10s;
       
}


.icones__item:hover {
   width:2.5rem;
   transition: .10s;
   
}



.rodape__botao:hover {
    background-color: wheat;
        color: black;
       font-size: 1.2rem;
       transition: .10s;
}