.titulo__item {
    color: #ffffff;
    font-family: fantasy, cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 38.1831px;
    line-height: 46px; 
    text-align: center;   
}

.titulo__item {
    bottom: 370px;
    position: relative;
     
}