.rodape__formulario {
    color: black;
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
}


.rodape__formulario {
    
    text-align: center;

}

.rodape__nome {
    font-family: fantasy;
    font-size: 1.3rem;
    text-align: center;
}


.rodape__email {
    font-family: fantasy;
    font-size: 1.3rem;
    text-align: center;
}


.rodape__mensagem {
    font-family: fantasy;
    font-size: 1.3rem;
    text-align: center;
}




#nome {
  margin-bottom: 15px;
}


#email {
    margin-bottom: 15px;
}



#mensagem {
    padding: 30px;
    margin-bottom: 15px;
}