.rodape__icones {
   display: flex;
   justify-content: space-around;
   position: relative;
   bottom: 90px;

}

.rodape__icones {
    border: 1px solid white;
    border-radius: 20px;
    margin: 0 5px 0 5px;

}